/* 1) barra de navegación fija */
.navbar-personalizada {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 70px;
    background-color: #212529 !important; 
    z-index: 1030;
    display: flex;
    align-items: center;
}

/*boton hamburguesa*/
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(213, 27, 145, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-brand img {
    height: 80px;
    width: auto;
}

.navbar-nav .nav-link {
    color: #c51972ff !important;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffffff !important;
}

/* 2) encabezado principal */
.encabezado-principal {
    margin-top: 80px; 
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #ffffff;
    text-align: center;
}

.texto-bienvenida {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.mision-texto {
    font-size: 1.2rem;
    margin-top: 20px; 
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}



/* 3) seccón servcios de las tres columnas */
.seccion-servicios {
    padding-top: 20px;
    padding-bottom: 60px;
}

.columna-item {
    text-align: center;
    padding: 20px;
}

/* estilo base para los tres botones */
.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s; /* transición */
    text-decoration: none;
    font-weight: 600;
}

/* botón buscar */
.btn-buscar { 
    background-color: rgb(131, 19, 123); 
}
.btn-buscar:hover { 
    background-color: rgb(52, 8, 118) !important;
    transform: translateY(-2px);  /* "salto" del botón */
}

/* botón vitrina */
.btn-vitrina { 
    background-color: #6608ad; 
}
.btn-vitrina:hover { 
    background-color: rgb(131, 19, 123);  !important; 
    transform: translateY(-2px);
}

/* botón contacto */
.btn-contacto { 
    background-color: #c054baff; 

}
.btn-contacto:hover { 
    background-color: rgb(149, 3, 139) !important; 
    transform: translateY(-2px);
}

/* 4) carrusel (3 eeveelutions a la vez) */
.seccion-carrusel {
    background-color: #212529;
    padding-top: 80px 0;
    padding-bottom: 50px;
}

.img-fluida-carr {
    height: 300px;
    width: 100%;
    object-fit: contain;
    padding: 15px;
}

/* 5) galería de imagenes */
.seccion-galeria {
    padding: 80px 0;
    text-align: center;
    
}

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item-galeria {
    flex: 0 1 300px;
}

.tarjeta-producto {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease;
    background: #fff;
}

.img-carta {
    height: 250px;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}

/* botón favoritos */
.btn-favorito {
    background-color: transparent;
    border: 1px solid #770972ff;
    color: #770972ff;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.btn-favorito:hover {
    background-color: #770972ff;
    color: #fff;
}

/* resaltado con jquery*/
.producto-favorito {
    border: 3px solid rgb(108, 40, 148) !important;
    background-color: #fff0f9 !important;
    transform: scale(1.05);
}

.btn-favorito.active {
    background-color: rgb(108, 40, 148) !important;
    color: white !important;
    border-color: rgb(108, 40, 148) !important;
}

/* mensaje dinámico */
#mensaje-favorito {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 2000;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    display: none;
}

/* 6) formulario */
.seccion-formulario {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.formulario-estilizado {
    max-width: 500px;
    margin: 0 auto;
    background: #da0aa2ae;
    padding: 30px;
    border-radius: 8px;
}

.campo { margin-bottom: 15px; text-align: left; }
.campo label { display: block; color: white; margin-bottom: 5px; }
.campo input, .campo textarea { width: 100%; border-radius: 5px; border: none; padding: 10px; }

.btn-envio {
    width: 100%;
    padding: 10px;
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 7) pie de página*/

.footer-final {
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid #dee2e6;
}